@model FazendaFeliz.ApplicationCore.Business.Anuncio; 

@{
    ViewData["Title"] = "Reclamar Anuncio";
}

<div>
    <h3 class="page-title">Reclamações</h3>
    <img src="@Model.Imagem_Base64" width=240 height=240 class="anuncioImage">
    <form>
        <div class="form-group">
            <label for="titulo">Titulo</label>
            <input type="text" class="form-control" id="titulo" placeholder="">
        </div>
        <div class="form-group">
            <label for="descricao">Descrição do ocorrido</label>
            <textarea class="form-control" id="descricao" placeholder="" rows=4></textarea>
        </div>
        <label id="anexador" for="img_anuncio">
            <input id="img_anuncio" hidden type="file" multiple="false" accept="image/*" onchange="loadImage(this);"/>
            <i id="imgIcon" class="fas fa-camera-alt"></i>
            <img id="uploadedImg" src="" class="uploadImage"/>
        </label>
        <button type="button" class="btn btn-orange my-2 mx-auto mb-4" onclick="salvarReclamacao();">SALVAR</button>
    </form>
</div>

<style>


    .fa-camera-alt {
        font-size:3rem;
    }

    #anexador {
        margin: 2rem auto;
        display: block;
        width: 70%;
        max-width: 300px;
        height: 150px;
        border-radius: 10px;
        box-shadow: 0 0 5px 3px #0002;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .form-group {
        margin: .75rem 0;
        padding: 0 15px;
    }

    .uploadImage {
        object-fit: cover;
        width: 100%;
        height: 100%;
        display:none;
    }

    .anuncioImage{
        object-fit: cover;
        width: 25%;
        height: 25%;
        margin: 2rem auto;
        display: block;
    }
</style>

<script>
    let form = {
        titulo: document.getElementById('titulo'),
        descricao: document.getElementById('descricao'),
        imagem_base64: "",
    }

    const salvarReclamacao = () => {
        if(form.titulo.value == "")
            return toastr.error("Por favor preencher o título da reclamação");

        if(form.descricao.value == "")
            return toastr.error("Por favor preencher a descrição do anúncio");

        axios.post('', 
          {
            id_anuncio: @Model.Id,
            id_produtor: @Model.Id_Usuario,
            titulo: form.titulo.value,
            descricao: form.descricao.value,
            imagem_base64: form.imagem_base64
          })
        .then(function (response) {
            if(response.status == 200) {
                toastr.success("Reclamação cadastrada com sucesso!");
                window.setTimeout(() => location.href = "/anuncio", 500);
            }
            console.log(response);
        })
        .catch(function (error) {
            toastr.error("Erro ao cadastrar reclamação!");
            console.log(error);
        });
    }

    async function loadImage(input){
        let file = input.files[0];
        let base64 = await toBase64(file);
        form.imagem_base64 = base64;
        document.getElementById("uploadedImg").src = base64;
        document.getElementById("uploadedImg").style.display = "block";
        document.getElementById("imgIcon").style.display = "none";
    }
</script>