<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>@ViewBag.Title</title>

    @*<link rel="manifest" href="/manifest.json">*@
    <link rel="apple-touch-icon" sizes="180x180" href="/img/logos/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/logos/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/logos/favicon-16x16.png">

    <!-- configura a thumbnail do site  -->
    <meta property="og:title" content="Hortum" />
    <meta property="og:image" content="/img/logos/android-chrome-192x192.png" />
    <meta property="og:description" content="" />

    <!-- CSS  -->
    <link rel="stylesheet" href="~/css/utils.css" defer />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" defer />
    <link rel="stylesheet" href="~/css/base_estrutura.css" defer />
    <link rel="stylesheet" href="~/css/site.css" defer />
    <link rel="stylesheet" href="~/css/colors.css" />

    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free-6.0.0-web/css/all.min.css" rel="stylesheet" defer> <!--Carrega os ícones do FontAwesome-->

    <!-- Pre-rendered Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>

    <!-- Post-rendered Scripts -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>

    <!-- Header Menu -->

    <!-- Render Body -->
    <div class="main-container">
        <main role="main" class="container">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer>
        <div id="menu-footer">
            @if(ViewBag.TipoUsuario == "Produtor")
            {
                <a href="/anuncio/criar" class="menu-item">
                    <i class="fas fa-plus-square"></i>
                    <p>Anúncio</p>
                </a>
            }
            else
            {
                <a href="/favoritos" class="menu-item">
                    <i class="fas fa-heart"></i>
                    <p>Favoritos</p>
                </a>
            }
            <div id="menu-btn" class="menu-item">
                <i class="fas fa-home"></i>
            </div>
            <a href="/perfil" class="menu-item">
                <i class="fas fa-user"></i>
                <p>Perfil</p>
            </a>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
