
.btn {
    font-weight: bold;
    width: 220px;
    padding: 5px 15px;
    border-radius: 20px;
    transition: .3s ease;
    color: white;
    display: block;
}

.btn:hover {
    transform: scale(1.02);
}

.btn-green {
    background: var(--clr-green);
    color: white;
}

    .btn-green:hover {
        background: var(--clr-lime-green);
        color: white;
    }

.btn-orange {
    background: var(--clr-orange);
    color: white;
}

    .btn-orange:hover {
        background: #F49C00bb;
        color: white;
    }

.btn-red {
    background: var(--clr-red);
    color: white;
}

    .btn-red:hover {
        background: #F45A5Add;
        color: white;
    }


.page-title {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
    font-weight: 200;
}